{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png'%}">
    <link rel="manifest" href="icons/site.webmanifest">
    <title>Entre ou crie sua conta</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }
        #btn-login{ background-color: var(--blue); }
    </style>
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center"
        style="height: 100%;">
        <div class="row">
            <div class="card">
                <div class="card-body p-4">
                    <h6 class="card-subtitle mb-4 text-muted">Entre em sua conta para prosseguir</h6>
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        {{ form.email | as_crispy_field }}
                        {{ form.password | as_crispy_field }}
                        <input id="btn-login" class="btn w-100 text-light" type="submit" value="Entrar" >
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</div>

</html>